---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import massaggi1 from '../assets/images/massaggi_bg_1.jpg';
import massaggi2 from '../assets/images/massaggi_bg_2.jpg';
import massaggi3 from '../assets/images/massaggi_bg_3.jpg';
import massaggi4 from '../assets/images/massaggi_bg_4.jpg';
---

<Layout title="Massaggi"
        description="Un percorso personalizzato alla ricerca del benessere fisico e mentale.">
    <main>
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <Image class="img img-fluid p-1" src={massaggi1} alt="massaggi1"/>
                </div>
                <div class="col">
                    <Image class="img img-fluid p-1" src={massaggi2} alt="massaggi2"/>
                </div>
                <div class="col">
                    <Image class="img img-fluid p-1" src={massaggi3} alt="massaggi3"/>
                </div>
                <div class="col">
                    <Image class="img img-fluid p-1" src={massaggi4} alt="massaggi4"/>
                </div>
            </div>
            <div class="row align-items-start">
                <h2> TOTAL RELAX</h2>
                <hr>
                <p>
                    Il Total body relax massage fa della leggerezza del tocco il mezzo che conduce al vero rilassamento.
                    Un insieme di diverse tecniche, ayurvedico, lomi lomi, linfodrenante, eseguito con ritmi lenti e
                    tocchi delicati in perfetta sincronia con la respirazione. Un percorso personalizzato alla ricerca
                    del benessere fisico e mentale.
                    Questa tipologia di massaggio si basa sullo scambio continuo di energia tra massaggiato e
                    massaggiatore: cura, armonia, fluidità e ritmo durante il massaggio creano, in chi riceve il
                    massaggio, l’aumento della coscienza del proprio corpo. Il tatto funge da mezzo per comunicare una
                    sensazione di rilassamento e di calore.
                </p>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <h2>DECONTRATTURANTE</h2>
                    <hr>
                    <p>
                        Il massaggio decontratturante è un tipo di massaggio il cui scopo è quello di sciogliere le
                        contratture muscolari. Si tratta, quindi, di una forma di manipolazione ideata e messa in
                        pratica per scopi che si possono definire terapeutici. Molto impiegato in ambito sportivo per
                        ragioni facilmente intuibili, il massaggio decontratturante prevede la manipolazione di zone ben
                        precise in funzione dell’area colpita dalla contrattura. Quest’ultima ricordiamo essere una
                        contrazione involontaria, insistente e dolorosa di uno o più muscoli scheletrici che si
                        presentano rigidi con ipertonia delle fibre muscolari apprezzabile al tatto
                    </p>
                </div>
                <div class="col">
                    <h2>LINFODRENANTE VODDER</h2>
                    <hr>
                    <p>
                        Il drenaggio linfatico manuale è una tipologia di massaggio effettuato in quelle zone del corpo
                        sottoposte ad eccessiva stagnazione di liquido e di una riduzione della circolazione linfatica.
                        Infatti il concetto di “drenaggio” si riferisce alla messa in moto del liquido da una zona dove
                        si è accumulato verso un punto di sbocco, mediante un appropriato sistema di manovre
                        opportunamente studiate e codificate, attraverso un naturale sistema di conduzione: il sistema
                        linfatico.
                    </p>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <h2>AYURVEDICO</h2>
                    <hr>
                    <p>
                        Il massaggio ayurvedico è un particolare tipo di massaggio effettuato per favorire e stimolare
                        il benessere psicofisico dell’individuo. Secondo la filosofia ayurvedica, la tecnica di
                        manipolazione utilizzata per eseguire il massaggio in questione rappresenta il mezzo attraverso
                        il quale è possibile raggiungere l’equilibrio e la perfetta armonia fra corpo e mente. Sempre
                        secondo l’ayurveda, infatti, ogni parte del corpo è influenzata da tre bioenergie principali, i
                        cosiddetti dosha (chiamati Vata, Pitta e Kapha); uno squilibrio di queste energie porterebbe
                        alla comparsa di disturbi di diverso tipo, variabili in funzione del dosha interessato e della
                        parte del corpo da esso influenzata (per maggiori informazioni, si rimanda alla lettura
                        dell’articolo: Ayurveda – Corpo e Dosha).
                    </p>
                </div>
                <div class="col">
                    <h2>OLISTICO</h2>
                    <hr>
                    <p>
                        Il massaggio olistico è un particolare tipo di massaggio effettuato allo scopo di raggiungere il
                        benessere dell’individuo nel suo complesso. tale massaggio si prefigge l’obiettivo di
                        ripristinare equilibrio e armonia a livello di corpo, mente e spirito, esattamente come la
                        medicina olistica cui questa forma di massaggio appartiene.
                    </p>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <h2>CANDLE MASSAGE</h2>
                    <hr>
                    <p>Se hai voglia di coccolarti dopo una giornata o un periodo stressante, vuoi sciogliere tutte le
                        tensioni muscolari accumulate e sentirti nuovamente rilassato e rigenerato, allora il Candle
                        Massage è senza dubbio quello di cui hai bisogno. Il Candle Massage, infatti, è un particolare
                        tipo di massaggio effettuato attraverso delle specifiche candele composte da oli e burri
                        vegetali capaci di idratare e nutrire profondamente la tua pelle ma anche rilassare
                        profondamente il corpo e la mente.</p>
                </div>
                <div class="col">
                    <h2>HOT STONE</h2>
                    <hr>
                    <p>Il massaggio con le pietre calde, anche detto hot stone, è una tecnica molto particolare di
                        massaggio che prevede l’utilizzo di pietre a temperatura variabile (calde, ma a volte anche
                        fredde) allo scopo di decontrarre i muscoli, liberare dalle tensioni mentali e fisiche e
                        suscitare un naturale benessere nella persona.</p>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <h2>SHIATSU</h2>
                    <p>Il massaggio Shiatsu è un tipo di massaggio di origine giapponese. Si tratta di una forma di massaggio appartenente al grande e variegato gruppo dei massaggi orientali. Lo scopo del massaggio Shiatsu – analogamente ad altri tipi di massaggio di derivazione orientale – è quello di agire non solo sul corpo ma anche sulla psiche, facendo raggiungere all’individuo uno stato di benessere nella sua totalità (corpo e mente) e non solo a livello fisico. Le tecniche di manipolazione tipiche del massaggio shiatsu prevedono l’esecuzione di trazioni e pressioni, queste ultime effettuate soprattutto con le dita ma anche con i palmi delle mani, con i polsi, con le nocche e con i gomiti.</p>

                </div>
                <div class="col">
                    <h2>MASSAGGIO PIEDI RIFLESSOLOGIA PLANTARE
                    </h2>
                    <hr>
                    <p>
                        La riflessologia plantare è una pratica della cosiddetta medicina alternativa, che prevede la pressione e il massaggio della pianta dei piedi, con lo scopo finale di alleviare determinati disturbi o patologie, aventi sede in altre parti del corpo. Il concetto di fondo della riflessologia plantare è che a determinate zone dei piedi corrispondano ben precisi organi, strutture nervose, articolazioni ecc.
                    </p>
                </div>
            </div>
            <div class="row align-items-start">
                <h2>PREZZI</h2>
                <hr>

                <ul>
                    <li>Shiatsu €60.00</li>

                    <li>Linfodrenante vodder: € 90.00</li>

                    <li>Decontratturante: €60.00 (intero) €35.00 (settoriale)</li>

                    <li>Anticellulite gambe addome: €35.00</li>

                    <li>Anticellulite intero €60.00</li>

                    <li>Ayurvetico: €70.00</li>

                    <li>Total relax alla frutta: €60.00</li>

                    <li>Terrakua Massage: €75.00</li>

                    <li>Candle Massage: €55.00</li>

                    <li>Olistico: €50.00</li>

                    <li>Hot stone: €90.00</li>

                    <li>Viso: €23.00</li>

                    <li>Piedi: €20.00</li>

                    <li>Riflessologia plantare: €40.00</li>

                    <li>Massaggio Viso: €25.00</li>
                </ul>

            </div>
        </div>
    </main>
</Layout>

<style>
    h2 {
        color: #468B78;
        font-size: 26px;
        font-weight: bold;
    }

    hr {
        border: 1px solid #468B78;
    }
</style>
